<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= link_to "Create New Post", new_post_path, class: 'btn btn-primary' %>
      </section>
    </aside>
        <table class = "table table-striped">
          <thead>
            <strong><th>My post</th></strong>
            <tr> 
              <th>content</th>
              <th>image</th>
            </tr>
          </thead>
          <tbody>
            <% @user.posts.each do |post| %>
            <tr>
              <td><%= post.content %></td>
              <td><%= image_tag post.image.url, size: '70x70' %></td>
              <% if current_user?(post.user)  %>
                <td><%= link_to "delete", post, method: :delete, data: { confirm: "You sure?" } ,class:'btn btn-danger' %></td>
              <% end %> 
            <% end %>    
            </tr>
          </tbody>
        </table>
  </div>
<% else %>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% end %>