<h1>新しく投稿する</h1>
<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/post_error_msg' %>
  <div class="row">
     <div class="col-md-6 col-md-offset-3">
      <%= f.label :content %>
      <%= f.text_area :content, placeholder: "Compose new post...", class: 'form-control'%>
      <%= f.label :image %>
      <%= f.file_field :image,class: 'form-control' %>
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>